<!-- Nav bar -->
<nav id="nav_outer">
    <a class="nav_button" href="{{ .Site.BaseURL }}">Home</a>
    <a class="nav_button" href="/games">Games</a>
    <a class="nav_button" href="/mods">Mods</a>
    <a class="nav_button" href="/music">Music</a>
    <a class="nav_button" href="/other">Other</a>
</nav>