{{ $img_url := resources.Get (printf "/images/%s" .img) }}

{{ $title_no_whitespace := replaceRE "(\\s)" "" .title }}

<div id="{{ $title_no_whitespace }}" class="showcase {{ if and .important }} important {{ end }}" style="background-image: url({{$img_url.RelPermalink}})">

    {{ $is_external_link := (strings.Contains .link "http") }}

    {{/* Open in new tab only if link is to other site */}}
    {{ $target := "_self" }}
    {{ if $is_external_link }}
        {{ $target = "_blank" }}
    {{ end }}


    {{/*  <a href="{{ .link }}" target="{{ $target }}">  */}}
        <div class="showcase_content">

            <a class="showcase_outer_link" href="{{ .link }}" target="{{ $target }}"></a>

            <h3 class="showcase_heading">{{ .title }}</h3>


            <div class="showcase_inner_content">
                <div class="showcase_desc">{{ .desc }}</div>
                <div class="showcase_links">
                        {{ if $is_external_link }}
                            <img src='{{ (resources.Get "images/symbols/open_in_new.svg").Permalink }}'>
                        {{ else }}
                            <img src='{{ (resources.Get "images/symbols/link.svg").Permalink }}'>
                        {{ end }}
                </div>
            </div>
        </div>
    {{/*  </a>  */}}
</div>