$primary: #1C9DA9;
$secondary: #0D454A;
$shadow: #dddddd;

$side-margins: 10vw;

@mixin box-shadow($value){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

body{
	background-color: $primary;
	color: white;
	font-family: "Lato", sans-serif;
	margin: 0;
	background-image: linear-gradient(to right, $secondary, $primary, $primary, $secondary);
}


// h2 - used for section headers
h2{
	font-size: 2rem;
	font-weight: 400;
	margin: 1.5rem 0;
}
// h3 - used for showcase
h3{
	font-weight: normal;
}

.links{
	font-size: 20px;
	font-weight: 400;
	a{
		color: white;
	}
}

main {
    a {
        color: #B5B8F2;
    }
}

video, img {
    width: calc(50% - 15px);
    margin: 5px;
}

audio {
	vertical-align: middle;
	padding: 0 .2rem;
}
audio.audio_large {
    width: 50%;
}

iframe.youtube {
    width: calc(50% - 15px);
    aspect-ratio: 16 / 9;
    margin: 5px;
    border: none;
}

iframe.bandcamp {
    width: calc(50% - 15px);
    aspect-ratio: 16 / 9;
    margin: 5px;
    border: none;
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
	body{
        background-image: none;
	}
	video, img {
        margin: 5px;
        width: calc(100% - 15px);
    }

    iframe.youtube {
        width: calc(100% - 15px);
    }
    
    iframe.bandcamp {
        width: calc(100% - 15px);
    }
}