@import "base";

body {
    margin-left: $side-margins;
	margin-right: $side-margins;
    overflow-x: clip;
}

/*Header text at top of page*/
#header{
	margin: 5px;
	text-align: center;
}

/* Nav */
#nav_outer{
    background-color: $secondary;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
    background-color: $secondary;
	position: -webkit-sticky;
	position: sticky;
    top: 0;
    bottom: 0;
	z-index: 51;
    box-shadow: 0 -100vw 0 100vw $secondary, 0 (calc(-100vw + 1px)) 0 100vw $shadow;
}

.nav_button{
	padding: 10px;
    transition: background-color .2s ease;
    width: 100%;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: normal;

    &:hover, &:focus{
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Sections */
.section{
    box-shadow: 0 0 0 100vmax $secondary;
    clip-path: inset(0 -100vmax); 
    background-color: $secondary;

	position: relative;
    padding: 5px;

    font-size: 1.3rem;

    .section_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            float: right;
            padding-left: 0;
            margin : 0;
            a {
                display: inline-block;
                list-style: none;
                font-size: 1.3rem;
                text-decoration: none !important;
            }
        }
    }
    
    .section_showmore{
        font-weight: 400;
        float: right;
        cursor: pointer;
        align-self: flex-end;
        text-decoration: none;

        &:after{
            width: .5rem;
            height: .5rem;
            vertical-align: middle;
            border: solid white;
            border-width: 3px 3px 0 0;
            display: inline-block;
            content: " ";
            opacity: 0;
            transform: translate(0, 0) rotate(45deg);
            transition: transform .25s ease-out, opacity .25s ease-out;
        }

        &:hover::after, &:focus::after{
            opacity: 1;
            transform: translate(100%, 0) rotate(45deg);
        }
    }
}

.section_empty{
	height: 50px;
	position: relative;
}

.showcase_wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex: 48rem 1;
}

/* Showcases */
.showcase{
	position: relative;
    flex: 24rem 0.5;
    height: 14rem;
    overflow: hidden;

    &:hover, &:focus-within, &:active{
        .showcase_content{
            background-color: rgba(0,0,0,.5);
            opacity: 1;
        }

        .showcase_heading{
            transform: translate(0, -100%);
        }

        .showcase_inner_content{
            opacity: 1;
            transform: translate(0, 0);
            z-index: 12;
        }

        &::after {
            transform: scale(1.1);
        }
    }

    &::after {
        transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
    }

    a {
        color: white;
    }
}

.showcase_content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
    transition: background-color .2s ease;
	z-index: 10;
	background-color: inherit;

    >.showcase_outer_link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 11;
    }
}

.showcase_inner_content{
    position: absolute;
    font-size: 1.2rem;
    margin: 1rem;
    height: calc(100% - 1rem);
    width: calc(100% - 2rem);
    top: 0;

    z-index: 10;
    pointer-events: none;

    transform: translate(0, 3vw);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;

    >.showcase_links{
        position: absolute;
        left: 0;
        bottom: 0;
        img {
            width: 1.5rem;
            margin: 0;
        }
    }

    >.showcase_desc{
        pointer-events: auto;
        max-height: calc(100% - 3rem);
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        padding: 1rem;
        overflow-y: scroll;
        
        scrollbar-width: none;
    }
    
}

.showcase_heading{
	text-align: center;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.75);
	overflow: hidden;
	min-height: 2.5rem;
	font-size: 1.5rem;
	margin: 0;
	padding: 0.5rem 0;
    transition: transform .2s ease;
    transform-origin: top;

    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin-bottom: 1.5rem;
}

.row_text{
    margin: 1.5rem 0;
}

/*Extras*/
.fullscreen_video{
    top: 0;
    left: -$side-margins;
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

.fullscreen_video_true{
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.portfolio_links
{
    display: flex;
    justify-content: space-between;
}

.portfolio_link{
    display:block;
    position:relative;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 2rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 5px;
    transition: background-color, width 0.25s ease-out;

    +video{
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    &:hover, &:focus
    {
        width: 150%;
        background-color: rgba(0, 0, 0, 0.5);

        +video{
            opacity: 0.5;
        }
    }
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
    body {
        margin: 0;
    }

    .showcase_wrapper{
        display: contents;
    }

    .showcase{
        flex: 100%;
        text-align: center;
        height: auto;
        aspect-ratio: 2;
        background-color: rgba(0,0,0,.25);

        &:hover, &:focus-within, &:active{
            .showcase_heading{
                transform: none;
            }
        }
    }

    .showcase_content{
        z-index: 2;
        overflow: hidden;
    }

    .showcase_inner_content{
        display: contents;
        font-size: 4vw;

        >.showcase_desc{
            padding: 1vw;
            margin: 1vw;
            border-radius: 1vw;
        }
    
        >.showcase_links{
            bottom: 1vw;
            left: 1vw;
        }
    }

    .showcase_heading{
        font-size: 6vw;
        min-height: auto;
    }

    .section_header{
        text-align: center;
        justify-content: center !important;
    }

    .section_showmore{
        display: none;
    }

    #nav_outer{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .nav_button{
        font-size: 1.5rem;
        flex: 1 1 auto;
        text-align: center;
        width: auto;
    }

    .fullscreen_video{
        left: 0;
    }

    .portfolio_links{
        display: unset;
    }

    .portfolio_link{
        width: auto;

        &:hover{
            width: auto;
        }
    }
}