@import "default_layout";

.section_header {
    border-bottom: 1px solid $shadow;
    text-align: left;
}

/*Mobile support*/
@media only screen and (orientation: portrait) {
    video, img {
        margin: 5px;
        width: calc(100% - 15px);
    }
    
    .section_textlabel{
        text-align: left;
        width: auto;
    }

    .section_header {
        justify-content: space-between !important;
    }
}