<!DOCTYPE html>
<html>
    {{- partial "blog/head.html" . -}}
    <body>
        {{- partial "blog/header.html" . -}}
        
        {{- block "main" . }}{{- end }}
        
        {{- partial "blog/footer.html" . -}}
    </body>
</html>
