{{ define "main" }}

<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>

    {{ with .OutputFormats.Get "rss" -}}
    <a href="{{ .Permalink  }}" type="application/rss+xml" target="_blank"> RSS </a>
    {{ end }}
    

    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages.ByParam ".Date" }}
        <li>
            <a href="{{.Permalink}}">{{.Title}} | {{.Date.Format "2006-01-02"}}</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}