{{ define "main" }}
<section id="main">
    <nav>
        <div class = "prev_next">
          <a href="..">Blog Home</a>
          <span>
            {{ with .PrevInSection }}
            <a class="previous" href="{{.Permalink}}">Prev</a>
            {{ end }}
            {{ with .NextInSection }}
            <a class="next" href="{{.Permalink}}">Next</a>
            {{ end }}
          </span>
        </div>
    </nav>

    <h1 id="title">{{ .Title }}</h1>

    <div class="subtitle">
        <span id="date"> {{ .Date.Format "Jan 2, 2006" }} </span>
        <span id="wordcount"> {{ .WordCount }} Words </span>
    </div>

    <article id="content">
        {{ .Content }}
    </article>
</section>

<!-- <aside id="meta">
    <div>
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
          <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
          <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
</aside> -->
{{ end }}