{{/* PARAMS */}}
{{/* important_only - will only show content labelled as important */}}
{{/* categories - will only show items in the categories in the list */}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Julian Heuser">
  {{ $style := resources.Get "scss/default_layout.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

  {{ if eq $.Title site.Title }}
    <title>{{ site.Title }}</title>
  {{ else }}
    <title>{{ site.Title }} - {{ $.Title }}</title>
  {{ end }}
</head>

<body>
  {{ partial "default/nav_bar.html" . }}

  {{ .Scratch.Set "categories" "" }}
  {{ if isset $.Params "categories" }}
    {{ .Scratch.Set "categories" $.Params.categories }}
  {{ end }}

  <main>
    {{ $add_space_after := false }}

    {{/* Show a content section if content is defined */}}
    {{ if and (.Content) (not (eq (len (.Scratch.Get "categories")) 1))}}
      {{ partial "default/sections/section_content.html" . }}
      {{ $add_space_after = true }}
    {{ end }}


    {{/* Show section content */}}
    {{ range $category_name := $.Params.categories }}

      {{ if $add_space_after }}
        <div class="section_empty"></div>
      {{ end }}

      {{ $add_space_after = true }}

      {{ $s := newScratch }}

      {{ $section_data := (index (where $.Site.Data.showcases "category" $category_name) 0) }}
      {{ $s.Set "category" $section_data.category }}

      {{ if isset $.Params "important_only" }}
        {{ $s.Set "showcases" (where $section_data.showcases "important" true) }}
        {{ $s.Set "important_only" $.Params.important_only }}
      {{else}}
        {{ $s.Set "showcases" $section_data.showcases }}
      {{end}}

      {{ if and $.Params.categories (eq (len $.Params.categories) 1) }}
        {{ $s.Set "Content" $.Content }}
      {{end}}

      {{ partial "default/sections/section_showcase.html" $s.Values }}
    {{end}}
  </main>
</body>

</html>