{{/* PARAMS */}}
{{/* important_only - will only show content labelled as important */}}
{{/* categories - will only show items in the categories in the list */}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Julian Heuser">
  {{ $style := resources.Get "scss/project_page.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  <title>Julian Heuser</title>
</head>

<body>
  {{- partial "default/nav_bar.html" . -}}

  <main>
    {{ partial "default/sections/section_content.html" . }}
  </main>
</body>

</html>