@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000;
  }

  a:link {
    color: #50d6e2;
  }

  a:hover {
    color: #1c9da9;
  }

  a:visited {
    color: #12666e;
  }
}

body {
  margin: 1rem auto;
  max-width: 40rem;
  padding: 0 .62rem;
  font: 1.2rem/1.62 sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

@media print {
  body {
    max-width: none;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

.prev_next {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}

img,
video {
  width: 100%;
}

iframe.youtube_video {
  width: 100%;
  aspect-ratio: 16 / 9;
}