
body{
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.5rem;
}

body{
    height: 100vh;
    max-width: 80rem;
    margin: 1rem auto;
}

#content{
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;

}

#logo_img{
    object-position:top;
    aspect-ratio: 2.5;
    object-fit: cover;
    width: 100%;
}

.column{
    margin: 1rem;
}

input, button{
    font-size: 1.5rem;
    border-radius: 0;

    border-width: 2px;
    border-style: solid;
    
    padding: 10px;

    margin: 5px;
    border-color: grey;

}

ul, li {
    text-align: initial;
}

#col2 *{
    width: 100%;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

img{
    max-width: 100%;
}

iframe{
    aspect-ratio: 1.778;
    border: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;    
    }
    
    a:link, a:visited, a:hover, a:active {
        color: white;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    #content{
        grid-template-columns: auto;

    }
}
