
{{ $name := .Get "name" }}
{{ $bgsrc := .Get "bg" }}
{{ $true_fullscreen := .Get "true_fullscreen" }}

<a href='{{ printf "portfolio/%s" $name }}' class="portfolio_link">
    {{ .Inner }}
</a>
<video src="{{ (resources.Get ($bgsrc)).Permalink }}" class="fullscreen_video {{ if $true_fullscreen }} fullscreen_video_true {{ end }}" tabindex="-1" autoplay loop muted> </video>