<!-- Showcase Section -->

<div id="{{ $.category }}" class='section'>
    <h2 class="section_header">
        {{ $.category }}

        {{/* Only show "show more" button if not all showcases are displayed */}}
        {{ if isset . "important_only"}}
            <a class="section_showmore" href="{{ .Site.BaseURL }}/{{lower $.category}}">Show all</a>
        {{ end }}
    </h2>

    {{ if .Content }}
        <div id="row_text">{{ .Content }}</div>
        <br />
    {{ end }}

    <div class='showcase_row {{ if isset . "important_only"}} important_only {{ end }}'>
        {{ $important_sections := $.showcases }}

        {{/* Add groups of 2 or 3 to the end to make the flex wrapping look nicer */}}
        {{ $section_grouping := (cond (modBool ($important_sections | len) 2) 2 3) }}

        {{/* Add showcases not in a group */}}
        {{ range $index, $showcase := first (sub ($important_sections | len) $section_grouping) $important_sections }}
            {{ partial "default/showcase.html" . }}
        {{ end }}

        <div class="showcase_wrapper">
            {{/* Add showcases in a group */}}
            {{ range $index, $showcase := last $section_grouping $important_sections }}
                {{ partial "default/showcase.html" . }}
            {{ end }}
        </div>
    </div>
</div>