<!-- Content Section -->

{{/* Remove whitespace from ID */}}
{{ $title_no_whitespace := replaceRE "(\\s)" "" $.Params.title }}

<div id = "{{ $title_no_whitespace }}" class = "section">
    {{ if isset $.Params "title" }}
        <h2 class = "section_header">
            {{ $.Params.title }}
            
            {{ if isset .Params "links" }}
                <span>
                    {{ range $num, $val := .Params.links }}
                        {{ if ne $num 0 }}&nbsp;{{ end }}
                        <a href="{{index $val 1}}">{{index $val 0}}</a>
                    {{ end }}
                </span>
            {{ end }}
        </h2>
    {{ end }}
    <div class = "row_text">
        {{ .Content }}
    </div>
</div>